@model KoiShow.Data.Models.Contest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ContestName" class="control-label"></label>
                <input asp-for="ContestName" class="form-control" />
                <span asp-validation-for="ContestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionType" class="control-label"></label>
                <input asp-for="CompetitionType" class="form-control" />
                <span asp-validation-for="CompetitionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participants" class="control-label"></label>
                <input asp-for="Participants" class="form-control" />
                <span asp-validation-for="Participants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo" class="control-label"></label>
                <input asp-for="ContactInfo" class="form-control" />
                <span asp-validation-for="ContactInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShapePointPercent" class="control-label"></label>
                <input asp-for="ShapePointPercent" class="form-control" />
                <span asp-validation-for="ShapePointPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorPointPercent" class="control-label"></label>
                <input asp-for="ColorPointPercent" class="form-control" />
                <span asp-validation-for="ColorPointPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatternPointPercent" class="control-label"></label>
                <input asp-for="PatternPointPercent" class="form-control" />
                <span asp-validation-for="PatternPointPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
